@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgb(14, 0, 46), rgb(93, 8, 133));;
	color: rgb(255, 255, 255);
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
.sound {
	margin-left: 70%;
	margin-top: -25px;
}
.plusMinus {
	filter: brightness(0) invert(1);
	margin-left: 70%;
	margin-top: 5px;
	margin-bottom: -25px;
}




.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.searchBox{
	
	width: 50%;
	margin: 0 auto;
	margin-bottom: 40px;
	
	
}
input{
	font-size: 1.5em;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	width: 60%;
	background-color: transparent;
	color: whitesmoke;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 2px;
	border-color: rgba(255, 255, 255, 0.424) ;
	font-weight: bold;
		
}
.uparrow{
	margin-top: 1px;
}

	

.timeName{
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 0;
}



.timesetter{
	
	width: 50%;
	padding-top: 5px;
	margin: 0 auto;
	margin-bottom: 500px;

}
.conditions {
	flex: 1;
	font-size: 2em;
	color: pink;
	text-transform: uppercase;
	margin-bottom: 10px;
	
}


.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;
}

.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

